
<nz-layout>
      <nz-header id="hedz">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
          <li nz-menu-item><img id="logoimg" src="../../assets/afslogo.jpeg"></li>
          <li nz-menu-item nzSelected><a routerLink="/home" routerLinkActive="active">Home Page</a></li>
          <li nz-menu-item><a routerLink="./customers" routerLinkActive="active">Customers</a></li>
          <li nz-menu-item><a routerLink="./employees" routerLinkActive="active">Employees</a></li>
        </ul>
      </nz-header>
      <nz-layout>
        <nz-sider nzWidth="200px" nzTheme="light">
          <ul nz-menu nzMode="inline" class="sider-menu">
            <li nz-submenu nzOpen nzIcon="user" nzTitle="Home">
              <ul>
                <li nz-menu-item nzSelected><a routerLink="./customers" routerLinkActive="active">Customers</a></li>
                <li nz-menu-item><a routerLink="./employees" routerLinkActive="active">Employees</a></li>

              </ul>
            </li>
          </ul>
        </nz-sider>
        <nz-layout class="inner-layout">
          <router-outlet></router-outlet>

        </nz-layout>
      </nz-layout>
    </nz-layout>
